header {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px;
  text-align: center;
  animation: text-glow 2s ease-in-out infinite alternate;
}

button {
  background-color: rgb(32, 32, 32);
  width: 200px;
  height: 50px;
  padding: 12px 24px;
  border-radius: 9999px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: 1px solid rgb(102, 102, 102);
  transition: transform 0.3s, background-color 0.3s;
}

button:hover {
  background-color: rgb(61, 61, 61);
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-text {
  font-size: 20px;
  font-weight: bold;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* full viewport height */
}

@keyframes text-glow {
  from {
    text-shadow: 0px 0px 15px beige, 0px 0px 20px beige;
  }

  to {
    text-shadow: 0px 0px 25px beige;
  }
}

body {
  background: #242424;
}

.board {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.char-boxes {
  display: flex;
  gap: 5px;
}

.single-boxes {
  border: 1px solid white;
  width: 30px;
  height: 30px;
  padding: 1rem;
  margin: 0.5rem;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  outline: none;
  user-select: none;
}

* {
  color: white;
  outline: none;
  user-select: none;
}

.correct {
  background-color: darkgreen;
}

@keyframes flip-tile {
  0% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(270deg);
    background-color: #242424;
    color: transparent;
  }
  51% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
    color: white;
  }
}

.flip {
  animation: flip-tile 0.8s ease-in;
  transform-style: preserve-3d;
  transform-origin: center;
}

.almost {
  background-color: darkgoldenrod;
}

.no {
  background-color: grey;
}

.single-key {
  padding: 10px 12px;
  border: 1px solid #414141;
  background-color: #414141;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  transition: transform 0.3s, background-color 0.3s;
}

.single-key:hover {
  background-color: #222222;
  transform: translateY(-3px);
}

.key-correct {
  background-color: darkgreen;
}

.key-almost {
  background-color: darkgoldenrod;
}

.key-no {
  background-color: grey;
  pointer-events: none;
}

.single-key.key-correct:hover {
  background-color: rgb(0, 60, 0);
}

.single-key.key-almost:hover {
  background-color: rgb(139, 103, 10);
}

.single-key.key-no:hover {
  background-color: grey;
}

.keyboard-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  gap: 5px;
}

.keyboard {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
